#header {
    font-family: sans-serif, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(255, 123, 0);
}

.h3 {
    background-color: yellowgreen;
    color:brown
}

p {
    font-family: "Times New Roman";
    font-style: italic;
}

ul {
    font-weight: bold;
}

.home {
    font-weight: bold;
    color:darkslateblue
}

#links {
    font-weight:100px;
    color:red;
}